### Unlike Simple Linear regression where there is one dependent and independent variable Multiple Linear Regression has several independent variable

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from sklearn import linear_model

In [2]:
df=pd.read_csv('dataset/homeprices.csv')

In [3]:
df
#There is a NAN value we need to take care of

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [4]:
# filling NAN value by taking median of bedroom
df.bedrooms=df.bedrooms.fillna(df.bedrooms.median())

In [5]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [6]:
cf=df.drop('price' ,axis='columns')

In [7]:
# creating object and fitting values
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [8]:
# predicting price for house having 3000 sq.ft 3 bedrooms and being 40 years old
reg.predict([[3000,3,40]])

array([498408.25158031])

In [9]:
# predicting price for house having 2500 sq.ft 4 bedrooms and being 5 years old
reg.predict([[2500,4,5]])

array([578876.03748933])